body {
	background-color:#ffffff;
	font-family:"Arial","Sans Serif","Times New Roman";
	font-size:83%;
	margin:0px 6px;
	background-color:#ffffff;
	text-align:left;
	color: #000000;
}

h2 {
	margin:0px 6px;
	padding: 0px;
	font-size:120%;
}

a:link {
	color:#0000ff;
	text-decoration: none
}
a:active, a:visited {
	color:#0000ff;
	text-decoration: none
}
a:hover {
	color:#0000ff;
	text-decoration: underline
}

.plist {
	display:block;
	margin:28px 0 0px 0px;
	text-align:left;
}

.plist h3{
	display:block;
	margin:0px 0 0px 0;
	font-size:138%;
	font-weight:normal;
}

.plist h5{
	display:block;
	margin:10px 0 6px 0;
	font-size:100%;
	font-weight:bold;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}

.mainbox {
	width: 1180px;
	padding: 0px;
	float: left;
}

.content {
	width: 900px;
	text-align:left;
	float: left;
	display: inline;
	padding: 8px;
	margin-right: 3px;
	border-width:0;
	border-left-width:3px;
	border-left-style:solid;
	border-left-color:#0000ff;
}

.nav {
	width: 168px;
	text-align:left;
	border-style:none;
	border-width:0px;
	padding: 2px;
	float: left;
	display: inline;
}

.nav ul {
	margin:0;
	padding:0;
}

.footer {
	clear:both;
	height:60px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	font-size: small;
	text-align:center;
}

pre {
	border: 1px solid #000000;
	background-color: #ffffcc;
	margin: 4px;
	padding: 4px;
}

.function {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eeeeee;
}

.function h3 {
	display: inline;
}

.function dl {
	margin-top: 3px;
	margin-bottom: 3px;
}

.function dl dt {
	margin-left: 30px;
}

.function dl dd {
	margin-left: 60px;
}

.function .ParamName{
	font-style: italic;
}

.RawVSAdvanced {
}

.RawVSAdvanced table {
	width: 100%;
}

.RawVSAdvanced thead {
	background-color: #00ffff;
}

.RawVSAdvanced td {
	padding: 4px;
}
